<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Liste des personnes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="infos-lieu">
        <ion-avatar class="profile-photo">
            <img src="/assets/images/post-malone.jpg">
        </ion-avatar>
    </div>
    <div class="nom-lieu">
        <ion-label id="nom"></ion-label>
        <br/>
        <ion-label id="lat"></ion-label>
        <br/>
        <ion-label id="lgt"></ion-label>
    </div>
    <hr>
    <div class="liste-personnes">
        <ion-list>
            <ion-item *ngFor="let item of listePersonnes">
                <ion-label>{{item.nom}}</ion-label>
                <ion-label slot="end" class="mail">{{item.email}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
