<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Liste des lieux</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="infos-personne">
        <ion-avatar class="profile-photo">
            <img id="url">
        </ion-avatar>
    </div>
    <div class="nom-personne">
        <ion-label id="nom"></ion-label>
        <br/>
        <ion-label id="mail"></ion-label>
    </div>
    <hr>
    <div class="liste-lieux">
        <ion-label id="vide"></ion-label>
        <ion-list>
            <ion-item *ngFor="let item of listeLieux">
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                <ion-label>Lieu {{item.count}}</ion-label>
                <ion-label slot="end" class="coord">{{item.lat}}<br/>{{item.lgt}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
