<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Liste des lieux</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="infos-personne">
        <ion-avatar class="profile-photo">
            <img [src]="photoURL">
        </ion-avatar>
    </div>
    <div class="nom-personne">
        <ion-label id="nom">{{nom}}</ion-label>
        <br/>
        <ion-label id="mail">{{email}}</ion-label>
    </div>
    <div class="liste-lieux">
        <ion-list>
            <ion-item *ngFor="let item of items">
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                {{item.id}}
                <div class="item-note" slot="end">
                    {{item.note}}
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
