<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Interface modérateur</ion-title>
        <ion-buttons slot="end">
            <ion-button shape="round" [routerDirection]="'root'" [routerLink]="'/profil-details'">
                <ion-icon name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="afficherDetails(item.id, item.count)">
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            <ion-label class="id">{{item.id}}</ion-label>
            <ion-label>Lieu {{item.count}}</ion-label>
            <ion-label slot="end" class="coord">{{item.lat}}<br/>{{item.lgt}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
