.profile-photo {
  width: 200px !important;
  height: 200px !important;
  max-width: 100% !important; //any size
  max-height: 100% !important; //any size
  margin: auto;
  border: solid;
  border-color: #0039dc;
}

.login-box {
  padding-top: 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.idImage {
  font-size: 10px;
}

.idImage #url {
  display: none;
}
