<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-box">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Name" name="name"  required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signup-col ion-text-center">
        <ion-button expand="block">Sauvegarder</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>