.profile-photo {
  width:200px !important;
  height:200px !important;
  max-width:100% !important;  //any size
  max-height:100% !important; //any size
  margin:auto;
  border: solid;
  border-color: #0039dc;
}

.login-box {
  padding-top: 10px;
}
