<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button shape="round" (click)="goLoginPage()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Créer un compte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="photo-personne">
        <input (change)="uploadImage($event)" type="file" name="file" id="file" class="inputfile" accept="image/*">
        <label for="file"><ion-avatar class="profile-photo">
            <img [src]="url">
        </ion-avatar></label>
    </div>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
        <ion-item class="idImage">
            <ion-input type="text" formControlName="url"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Nom</ion-label>
            <ion-input type="text" formControlName="nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Prenom</ion-label>
            <ion-input type="text" formControlName="prenom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                     *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                     *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Créer le
            compte
        </ion-button>
        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>
</ion-content>
